<!DOCTYPE html>
<html>
<head>
    <title>CodeNames</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/game.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/mock_game.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Exo:400,200italic' rel='stylesheet' type='text/css'>
    <meta name="gameID" content="{{gameID}}"/>
    <meta name="role" content="{{role}}"/>
    <meta name="currentTurn" content="{{currentTurn}}"/>
</head>
<body>
	<div id='blueTurn'></div>
	<div id='redTurn'></div>
	<div id='grad'></div>
	<h1><span class='name1'>Code</span><span class='name2'>Names</span></h1>
	<div id='cards'>
		{{#cards}}
		<div class='card {{index}}'>
			<p>{{word}}</p>
		</div>
		{{/cards}}
	</div>
	<div id="controls">
		<h2><span id='redScore'>8</span> - <span id='blueScore'>9</span></h2>
		<div id="timer">
			<p><span id='minutes'>0</span>:<span id='seconds'>00</span></p>
		</div>
		<div id="turnOrder">
			<p>Turn Order:</p>
			<div class="role blueTeam" id="BSM"><p>-</p></div>
			<div class="role blueTeam" id="BFA"><p>-</p></div>
			<div class="role redTeam" id="RSM"><p>-</p></div>
			<div class="role redTeam" id="RFA"><p>-</p></div>
		</div>
		<div id="clueEntry">
			<p id="clueHeader">Clue:</p>
			<p id="clue">&mdash;</p>
			<form id="clueSubmission">
				<input type='button' id='doneGuessing' value='Done'></input>
			</form>
		</div>
	</div>
	<div id="pastClues" class="popup">
		<p class='hamburger'>&#9776;</p><p class="windowHeader">Past Clues</p>
		<div class="stats" id="history">
			<ul>
				<!--<li class="message">Pirates 3</li>-->
			</ul>
		</div>
	</div>
	<div id="chat" class="popup">
		<p class='hamburger'>&#9776;</p><p class="windowHeader">Chat</p>
		<div class="stats" id="messages">
			<ul>
				<li class="message"><span class="chatName">Charlie:</span> This is the first message</li>
			</ul>
		</div>
		<div id="footer">
		<form action="" id="messageForm">
	    	<input type="text" name="message" id="messageField" placeholder="Message">
	    	<input type="hidden" name="nickname" id="nicknameField" value="">
	    	<input type="submit" value="Send">
		</form>
	</div>
	
</body>
</html>