<!DOCTYPE html>
<html>
<head>
    <title>CodeNames</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/mock_home.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles/mock_home.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Exo:400,200,200italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='grad'></div>
	<h1><span class='name1'>Code</span><span class='name2'>Names</span></h1>
	<p>Enter game information:</p>
	<input type='text' id='username' placeholder='Username'></input>
	<input type='text' id='gamename' placeholder='Game Name'></input>
	<p id="formPrompt">You must enter a nickname and game name</p>
	<p id="uniquePrompt">Your game name is already in use</p>
	<p id="existsPrompt">This game does not exist</p>
	<p id="inputError"></p>
	<button type='button' id='newGame'><span class='name1'>Create</span> <span class='name2'>Game</span></button>
	<button type='button' id='joinGame'><span class='name1'>Join</span> <span class='name2'>Game</span></button>
	<p id='rules'>Rules and Privacy Policy</p>
	<!-- Setup and Rules windows -->
	<div class='setup' id='newGameSetup'>
		<p class='close'>X</p>
		<form>
			<p>Number of Players:</p>
			<!--<input type='number' id='numPlayers' value='4'></input>-->
			<select id="numPlayers" name="numPlayers">
				<option value="4">4</option>
				<option value="2">2</option>
			</select>
			<p>Your Role:</p>
			<select id="role" name="roles">
				<option value="BSM">Blue Spy Master</option>
				<option value="BFA">Blue Field Agent</option>
				<option value="RSM">Red Spy Master</option>
				<option value="RFA">Red Field Agent</option>
			</select>
			<p>Clue Timer:</p><input type='number' class='mins' id='clueMins' value='2' />:
			<input type='number' class='secs' id='clueSecs' value='30' />
			<p>Guess Timer:</p><input type='number' class='mins' id='guessMins' value='2' />:
			<input type='number' class='secs' id='guessSecs' value='00' />
			<input type='button' id='create' value='Create'></input>
		</form>
	</div>
	<div class='setup' id='joinGameSetup'>
		<p class='close'>X</p>
		<form>
			<p>Your Role:</p>
			<select id="role2" name="roles">
				<option value="RSM">Blue Spy Master</option>
				<option value="RFA">Blue Field Agent</option>
				<option value="BSM">Red Spy Master</option>
				<option value="BFA">Red Field Agent</option>
			</select>
			<input type='button' id='join' value='Join'></input>
		</form>
	</div>
	<div class='setup' id='howToPlay'>
		<p class='close'>X</p>
		<h2>Rules</h2>
		<h4>Setup:</h4>
		<p>From the home page either start a new game or join an existing game using a unique game name. In the standard game there are two teams &mdash; blue and red &mdash; with a <strong>spymaster</strong> and <strong>field operative</strong> on each team. The board consists of 25 codenames arranged in a 5-by-5 grid. The spymaster's codenames will be color-coded such that blue squares correspond to words that the Blue Team must guess (blue agents), and red squares correspond to words that the Red Team must guess (red agents). Pale squares are innocent bystanders, and the black square is an assassin who should never be contacted at all! The starting team has 9 words to guess. The other team has 8. The starting team will give the first clue of the game.</p>

		<h4>Game Overview:</h4>
		<p>Spymasters know the secret identities of 25 agents. Their teammates know the agents only by their codenames.
		Spymasters take turns giving one-word clues. A clue may relate to multiple words on the table. The field
		operatives try to guess which words their spymaster meant. When a field operative clicks a word, its secret identity
		will be revealed. If the field operatives guess correctly, they may continue guessing,
		until they run out of ideas for the given clue or until they hit a wrong person. Then it is the other team's
		turn to give a clue and guess. The first team to contact all their agents wins the game.</p>

		<h4>Spymaster's Turn:</h4>
		<p>The blue spymaster starts the game by thinking of a <strong>one-word</strong> clue that relates to some of the words your team is trying to guess. You also provide a number, which tells your teammates how many codenames are related to your clue.
		<br><em>Example: Two of your words are NUT and BARK. These grow on trees, so you say tree: 2.</em></p>

		<h4>Field Operative's Turn:</h4>
		<p>The field operative follows by clicking on words that relate to their spymaster's clue. If they correctly guess
			a word belonging to their team, they may click DONE, or guess again until they've guessed up to the number of
			times as the clue's number. If at any time they click an innocent or opposing team's card, the turn immediately
			switches to the next team's spymaster. If the assassin is selected, their team loses the game.</p>

		<h4>Field Operative's Turn:</h4>
		<p>The field operative follows by clicking on words that relate to their spymaster's clue. If they correctly guess
			a word belonging to their team, they may click DONE, or guess again until they've guessed up to the number of
			times as the clue's number. If at any time they click an innocent or opposing team's card, the turn immediately
			switches to the next team's spymaster. If the assassin is selected, their team loses the game.</p>

		<h4>Time Limit:</h4>
		<p>When creating a game, a time limit is set for the spymaster and field operatives. If the spymaster exceeds their
		time, whatever is entered in the clue input box will be sent. If the field operative's time runs out, the turn ends
		and switches over to the other team.</p>

		<h4>Clue Restrictions:</h4> 
		<p>The one-word clue cannot contain within itself any of the remaining words on the board. If a word has already
			been guessed, it may be used in a clue.</p><br><br>

		<h2>Privacy Policy</h2>
		<p>All input is stored temporarily, but only for the duration of the game. Do not provide sensitive information
			anywhere on this site.</p>
	</div>
	
</body>
</html>