<!DOCTYPE html>
<html>
<head>
    <title>CodeNames</title>
    <link rel="stylesheet" href="../styles/mock_home.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Exo:400,200,200italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id='grad'></div>
	<h1><span class='name1'>Code</span><span class='name2'>Names</span></h1>
	<p>Sorry for moving you, but the page you were on keeps the server busy, and it needs its rest</p>
	<p><a href="/">Return Home</a></p>
	
	
</body>
</html>